
SUPABASE_URL
SUPABASE_ANON_KEY

CLIENT_URL
PORT

client id for google auth
733818510247-is7ffee02epcrm9cf68oru40kknkqtll.apps.googleusercontent.com


SUPABASE_AUTH_EXTERNAL_GOOGLE_CLIENT_SECRET="<client-secret>"